.tweetCard {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.tweetBackBtn {
  align-self: self-start;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background: rgba(92, 211, 168, 1);
  color: #373737;
  box-shadow: 0px 3.4px 3.4px 0px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 0 20px 0;
  text-decoration-line: none;
}

.tweetBackBtn:hover {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25) inset;
}

.tweetBackBtn:hover:focus {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25) inset;
}

.tweetList {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.loadMoreBtn {
  align-self: center;
  padding: 14px 28px;
  min-width: 196px;
  border: none;
  border-radius: 10px;
  background: rgba(92, 211, 168, 1);
  box-shadow: 0px 3.4px 3.4px 0px rgba(0, 0, 0, 0.25);
  color: #373737;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.loadMoreBtn:hover {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25) inset;
}

.loadMoreBtn:hover:focus {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25) inset;
}
