.header {
}

.headerNav {
    background: rgba(87, 54, 163, 1);
    box-shadow: -2.5776965618133545px 6.873857021331787px 20.621572494506836px 0px rgba(0, 0, 0, 0.23);
    padding: 20px;
    margin-bottom: 32px;
}

.headerLink {
  color: #ebd8ff;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 26px 0 0;
}